In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import numpy as np
import datetime as dt
from sklearn.linear_model import LinearRegression
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima.model import ARIMA
import numpy as np

import statsmodels.formula.api as smf            # statistics and econometrics
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy.stats as scs

from itertools import product                    # some useful functions
from tqdm import tqdm_notebook



import warnings
warnings.filterwarnings("ignore")

In [6]:
data = pd.read_csv('..\Data\Avocado.csv',index_col= 0 )
data = data[data['type'] == 'conventional']
# data1 =data[(data['region']=='Orlando') & (data['type']=='conventional')].sort_values(by= 'Date')
# data1['Date'] = pd.to_datetime(data1['Date'])
# data1['Log_Price'] = np.log(data1['AveragePrice'])
# data1['Value_diff_1'] = data1['Log_Price'].diff()
# data1['Value_diff_2'] = data1['Log_Price'].diff().diff()
# data1.index = data1['Date']
# data1 = data1.drop(columns = 'Date')
data

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,2018-02-04,0.76,1272039.80,531469.08,368948.26,13078.20,358544.26,127833.03,229786.03,925.20,conventional,2018,WestTexNewMexico
8,2018-01-28,0.85,957086.16,479147.93,179489.19,7314.98,291134.06,143430.96,147376.43,326.67,conventional,2018,WestTexNewMexico
9,2018-01-21,0.84,1020913.20,505263.29,177911.40,9468.95,328269.56,118978.50,209131.06,160.00,conventional,2018,WestTexNewMexico
10,2018-01-14,0.90,950954.60,463945.73,188126.02,11227.47,287655.38,125408.69,162040.02,206.67,conventional,2018,WestTexNewMexico
11,2018-01-07,0.88,880266.52,436282.38,178669.53,9467.11,255847.50,99686.92,155870.58,290.00,conventional,2018,WestTexNewMexico